datasets==2.15.0
einops==0.8.0
fvcore==0.1.5.post20221221
h5py==3.12.1
matplotlib==3.8.2
numpy==1.26.2
Pillow==10.1.0
scipy==1.14.1
timm==1.0.3
torch==2.3.0
torchvision==0.18.0
transformers==4.36.2
triton==2.3.0
wandb==0.16.2
webdataset==0.2.96

ipython==8.18.0
jupyter==1.0.0
pre-commit==3.5.0
pytest==7.4.3
